@font-face {
  font-family: 'Inter';
  src:
    url('/inter-variable_opsz,wght.woff2') format('woff2') tech('variations'),
    url('/inter-variable_opsz,wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-optical-sizing: auto;
  font-display: swap;
  font-style: normal;
}

@theme inline {
  --font-inter: 'Inter', sans-serif;

  --text-2xs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
